.wrapper {
  background-color: #c4c4c4;
  width: 661px;
  height: 763px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  position: relative;
  border: 1px solid #897e7e;
}
.searchfield {
  width: 498px;
  height: 61px;
  margin-top: 60px;
  margin-left: 70px;
  padding-left: 13px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(154, 151, 151);
  max-width: 515px;
}
.searchfield[type="text"] {
  font-size: 24px;
}
.menu {
  display: none;
  margin: 0;
  padding: 0;
  width: 515px;
  margin-left: 70px;
  background-color: white;
  list-style-type: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.menu:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.menu > li {
  height: 50px;
  line-height: 45px;
  font-size: 24px;
  padding-left: 10px;
  border-bottom: 1px solid rgb(154, 151, 151);
  border-left: 1px solid rgb(154, 151, 151);
  border-right: 1px solid rgb(154, 151, 151);
  overflow: hidden;
}
.menu > li:hover {
  transition: all 0.7s ease;
  cursor: pointer;
  background-color: lightgrey;
}
.menu > li:last-of-type:hover {
  cursor: pointer;
  background-color: lightgrey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.menu > li:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.repos-list {
  width: 515px;
  height: 180px;
  max-height: 180px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  left: 70px;
  top: 400px;
  padding: 0;
  list-style-type: none;
  border: 1px solid rgb(154, 151, 151);
}
.repos-list > ul {
  height: 60px;
  width: 503px;
  background-color: #d899dd;
  font-size: 16px;
  padding: 0;
  list-style-type: none;
  position: relative;
  overflow: hidden;
  border: 1px solid;
  border-top: none;
  padding-left: 10px;
}
.repos-list > ul > li {
  width: 400px;
  overflow: hidden;
  max-height: 20px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.repos-list > ul:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid;
}
.repos-list > ul:nth-child(3) {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid;
  border-top: none;
}

.open {
  display: block;
}
.closeButton {
  background-image: url(./cancel-close-svgrepo-com.svg);
  background-position: right;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  transform: rotate(0);
}
.closeButton:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: rotate(-360deg);
  transition: transform 0.7s ease;
}
.elem {
  animation-duration: 0.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
.deleteElem {
  animation-duration: 0.5s;
  animation-name: slideout;
}

@keyframes slideout {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0);
    opacity: 0;
  }
}
.menuopen {
  animation-duration: 0.3s;
  animation-name: menuopen;
}
@keyframes menuopen {
  from {
    height: 0px;
    opacity: 0;
  }

  to {
    height: 254.55px;
    opacity: 1;
  }
}
.addItem {
  animation-duration: 1.5s;
  animation-name: itemadd;
}
@keyframes itemadd {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
